@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div>
    <h1>Mis Proyectos</h1>
    <p>Aquí encontrarás todos los proyectos en los que he trabajado</p>
</div>

<partial name="_ListadoProyectos" model="Model" />